{% extends 'base.html.twig' %}

{% block title %}Hello AddCommentController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/addComment/styles.css') }}">
{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Enregistré</button>
    {{ form_end(form) }}

{% endblock %}
