<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# Feuille de styles #}

    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
    {% block stylesheets %}
    <style>
      body {
        height: 100vh;
        background-image: linear-gradient(
          to bottom,
          rgb(131, 139, 194),
          rgb(84, 98, 162),
          rgba(85, 17, 116, 0.79),
          rgb(115, 81, 141),
          rgb(113, 92, 140)
        );
      }

      header {
        min-width: 1920px;
        min-height: 146px;
      }

    </style>
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" />

    {# Fichiers JS #}

    <script
      src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"
      defer
    ></script>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('assets/js/scripts.js') }}" defer></script>
  </head>
  <body>
    <header>
      {% include "_track/navbar.html.twig" %}
    </header>
  </body>
  {% block body %}{% endblock %}
</html>
